<a href="https://colab.research.google.com/github/guyvani/RHERC/blob/main/analyses/read_etfs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import fix_yahoo_finance as yf
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
from datetime import date,datetime
from dateutil.relativedelta import relativedelta
ticks = ["SPY", "XLF", "XLE", "XLU", "XLK", "XLB", "XLP", "XLY", "XLI", "XLV"]
end = date.today()
beg = end - relativedelta(years = 10)

In [8]:
data = pd.DataFrame(yf.download(ticks, start=beg, end=end)['Adj Close'])

[*********************100%***********************]  10 of 10 downloaded

In [9]:
data.tail()

                   SPY        XLB        XLE  ...        XLU         XLV         XLY
Date                                          ...
2020-11-16  362.570007  70.370003  36.110001  ...  66.760002  111.930000  155.460007
2020-11-17  360.619995  70.110001  36.480000  ...  65.449997  111.199997  154.800003
2020-11-18  356.279999  69.529999  35.419998  ...  64.169998  109.129997  153.740005
2020-11-19  357.779999  69.820000  36.000000  ...  63.529999  109.050003  154.500000
2020-11-20  355.329987  69.760002  35.810001  ...  63.540001  108.800003  153.690002

[5 rows x 10 columns]